@keyframes foodtruck-animation {
    0% {
        right: 0;
    }
    100% {
        right: 35%; 
    }
}

header .foodtruck {
    animation: foodtruck-animation 1s linear forwards;
    transform: rotate(0deg);
}